
.page-wrapper {
  text-align: left;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: flex-start;
  .page-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    border-bottom: 1px solid #E8EBED;
    background: #fff;
    z-index: 1000;
    padding: 20px;
    h2, p {
      margin-bottom: 0;
    }
    .header-btn {
      min-width: 150px;
    }
    .doc-btn {
      display: flex;
      justify-content: flex-end;
    }
  }
  section {
    width: calc(100% - 40px);
    padding: 0px 20px 40px;
  }
}

.ui-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.ui-item {
  // flex: 1 1 calc(33.333% - 40px);
  text-align: left;
  flex-grow: 1;
  width: calc(33.33% - 40px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  h6 {
    margin-bottom: 0;
  }
  p {
    margin: 0;
    line-height: 145%;
  }
}
.w-p-code {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  span {
    padding: 2px 4px;
    margin: 0;
    background: #E8EBED;
  }
}
// /* Medium screens (≥600px) */
// @media (min-width: 600px) {
//   .ui-container {
//     grid-template-columns: repeat(1, 1fr);
//   }
// }

// /* Large screens (≥900px) */
// @media (min-width: 900px) {
//   .ui-container {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// /* Extra large screens (≥1200px) */
// @media (min-width: 1200px) {
//   .ui-container {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }


// Search
.results-header {
  margin-top: 20px;
}
.search-results {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.w-search-text-box {
  padding-left: 20px;
}

.w-block-link-horizontal {
  text-decoration: none;
  color: inherit;
  display: block;
}
.w-search-block-link {
  padding-left: 5px !important;
  flex: 1;

}

.w-icon-wrapper,
.w-trailing-icon-wrapper {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.codeViewer {
  position: relative;
  // margin-top: 20px;
  border: 1px solid #E8EBED;
  background: #ffffff;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  // width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 40px);
  pre {
    padding: 10px 15px 10px 0 !important;
    margin: 0 !important;
  }
}
.codeViewer-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h5 {
    margin: 0;
  }
}
